Predicting Life Expectancy Node-RED.json
[{"id":"abc2e1b0.dd54a","type":"tab","label":"Predicting Life Expectancy","disabled":false,"info":""},{"id":"74c0518d.c578a","type":"function","z":"abc2e1b0.dd54a","name":"PreToken","func":"global.set(\"co\",msg.payload.co)\nglobal.set(\"ye\",msg.payload.ye)\nglobal.set(\"stat\",msg.payload.stat)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"inft\",msg.payload.inft)\nglobal.set(\"alc\",msg.payload.alc)\nglobal.set(\"exp\",msg.payload.exp)\nglobal.set(\"hb\",msg.payload.hb)\nglobal.set(\"me\",msg.payload.me)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ufd\",msg.payload.ufd)\nglobal.set(\"po\",msg.payload.po)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"dip\",msg.payload.dip)\nglobal.set(\"ha\",msg.payload.ha)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"pop\",msg.payload.pop)\nglobal.set(\"t19\",msg.payload.t19)\nglobal.set(\"t59\",msg.payload.t59)\nglobal.set(\"icr\",msg.payload.icr)\nglobal.set(\"school\",msg.payload.school)\n\n\nvar apikey=\"f6zO7d5DGfwLaRA2zCAqpXUSOchN518W5bpJOgKbj3Gv\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":300,"wires":[["7600847c.744bbc"]]},{"id":"7600847c.744bbc","type":"http request","z":"abc2e1b0.dd54a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":220,"wires":[["d7c3b737.73d9b8"]]},{"id":"49ea5c97.0b25d4","type":"inject","z":"abc2e1b0.dd54a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":220,"wires":[["74c0518d.c578a"]]},{"id":"82005141.e506a","type":"debug","z":"abc2e1b0.dd54a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":220,"wires":[]},{"id":"d7c3b737.73d9b8","type":"function","z":"abc2e1b0.dd54a","name":"Pre Prediction","func":"var co = global.get('co')\nvar ye = global.get('ye')\nvar stat = global.get('stat')\nvar am = global.get('am')\nvar inft = global.get('inft')\nvar alc = global.get('alc')\nvar exp = global.get('exp')\nvar hb = global.get('hb')\nvar me = global.get('me')\nvar bmi = global.get('bmi')\nvar ufd = global.get('ufd')\nvar po = global.get('po')\nvar te = global.get('te')\nvar dip = global.get('dip')\nvar ha = global.get('ha')\nvar gdp = global.get('gdp')\nvar pop = global.get('pop')\nvar t19 = global.get('t19')\nvar t59 = global.get('t59')\nvar icr = global.get('icr')\nvar school = global.get('school')\n\n\nvar token=msg.payload.access_token\nvar instance_id=\"08e11675-62a8-41d0-9b05-81cc077ea313\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[co,ye,stat,am,inft,alc,exp,hb,me,bmi,ufd,po,te,dip,ha,gdp,pop,t19,t59,icr,school]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":300,"wires":[["d31a5f0d.e00cf"]]},{"id":"d31a5f0d.e00cf","type":"http request","z":"abc2e1b0.dd54a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/f5b8ecf1-749a-4bd4-b1e7-b388c37d10d1/predictions","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":220,"wires":[["1ba014b1.5a18bb"]]},{"id":"146f6422.58ad1c","type":"ui_form","z":"abc2e1b0.dd54a","name":"","label":"","group":"578a8c40.66b1f4","order":1,"width":0,"height":0,"options":[{"label":"Enter your country","value":"co","type":"text","required":true,"rows":null},{"label":"Enter the year","value":"ye","type":"number","required":true,"rows":null},{"label":"Enter development status of your country","value":"stat","type":"text","required":true,"rows":null},{"label":"Enter adult mortality","value":"am","type":"number","required":true,"rows":null},{"label":"Enter infant deaths","value":"inft","type":"number","required":true,"rows":null},{"label":"Enter alcohol intake","value":"alc","type":"number","required":true,"rows":null},{"label":"Enter percentage expenditure","value":"exp","type":"number","required":true,"rows":null},{"label":"Enter Hepatitis B","value":"hb","type":"number","required":true,"rows":null},{"label":"Enter Measles","value":"me","type":"number","required":true,"rows":null},{"label":"Enter BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Enter under-five deaths","value":"ufd","type":"number","required":true,"rows":null},{"label":"Enter Polio","value":"po","type":"number","required":true,"rows":null},{"label":"Enter total expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Enter Diphtheria","value":"dip","type":"number","required":true,"rows":null},{"label":"Enter HIV/AIDS","value":"ha","type":"number","required":true,"rows":null},{"label":"Enter GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Enter Population","value":"pop","type":"number","required":true,"rows":null},{"label":"Enter thinness 1-19 years","value":"t19","type":"number","required":true,"rows":null},{"label":"Enter thinness 5-9 years","value":"t59","type":"number","required":true,"rows":null},{"label":"Enter Income composition of resources","value":"icr","type":"number","required":true,"rows":null},{"label":"Enter schooling","value":"school","type":"number","required":true,"rows":null}],"formValue":{"co":"","ye":"","stat":"","am":"","inft":"","alc":"","exp":"","hb":"","me":"","bmi":"","ufd":"","po":"","te":"","dip":"","ha":"","gdp":"","pop":"","t19":"","t59":"","icr":"","school":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":90,"y":380,"wires":[["74c0518d.c578a"]]},{"id":"57f58d21.a9b5d4","type":"ui_text","z":"abc2e1b0.dd54a","group":"578a8c40.66b1f4","order":2,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-center","x":1000,"y":380,"wires":[]},{"id":"1ba014b1.5a18bb","type":"function","z":"abc2e1b0.dd54a","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":320,"wires":[["82005141.e506a","57f58d21.a9b5d4"]]},{"id":"578a8c40.66b1f4","type":"ui_group","z":"","name":"Form","tab":"c34901ba.66a34","order":1,"disp":true,"width":"6","collapse":false},{"id":"c34901ba.66a34","type":"ui_tab","z":"","name":"Predicting Life Expectancy","icon":"dashboard","disabled":false,"hidden":false}]